* {
  /*m0+p0*/
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
   
body {
width: 1280px;
margin: auto;
padding: auto;

}

header {

}






 a {
  text-decoration: none;
  color: rgb(240, 3, 3);
  font-size: 20px;
  font-weight: bold;
  
  

  
  
  
   
  
}
ul li {

  float: left;
  margin:10px;
  list-style-type:none;
  
  margin-left: 150px;
  padding-left: 10px;
  
  
  
  
}

.picture {

width: 1280px;
height: 789px;
margin: 10px ;

}

.heading {
text-align: center;
margin-top: 10px;
font-family:'Courier New', Courier, monospace
}
p {
  
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;


text-align: center;
letter-spacing: 2.4px;
}


.btn-like {
  cursor: pointer;
  
width: 191px;
height: 51px;
left: 544.5px;
top: 557px;
position:sticky;
margin-top: 100px;
background: #FF0000;
color:  white;
border-radius: 4px;
}
.all {
  font-family: Montserrat;

  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  
  letter-spacing: 2.4px;
  margin-top: 0px;
  margin-left: 750px;
  margin-bottom: 20px;
  

  color: #373737;

}
